@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Yeseva+One&display=swap');

.body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.section_logo {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
}

.section_logo img {
    margin-right: 8px;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 20px 33px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    width: 207px;
    height: 51px;
    font-family: 'Nunito Sans', sans-serif;
}

.button:hover {
    cursor: pointer;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    font-weight: 400;
}

.subtitle {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.input {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border:0;
    border-bottom:1px solid rgba(54, 54, 54, 0.3); 
    padding-top: 0;
}

.input-label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 14px;
  }

  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 1px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

.content {
    max-width: 1260px;
    margin: 0 auto;
}

.header {
    background-color: black;
}

.header_content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
}

.content_logo {
    color: #E3B873;
    text-transform: uppercase;
}

.nav_links {
    display: flex;
    list-style: none;
    
}

.nav_links_item {
    margin-right: 47px;
}

.nav_links_link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav_tel_link {
    color: #E3B873;

}

.nav_button {
    padding-top: 13px;
    padding-bottom: 13px;
}

.main {
    background-image: url('../images/main_back.png');
    background-size: cover;
    height: 707px;
    position: relative;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.main_content {
    position: relative;
    z-index: 1;
    max-width: 505px;
    margin-left: 18%;
}

.content_title {
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    padding-top: 194px;
}

.content_title_town {
    color: #E3B873;
}

.main_content_text {
    color: white;
    font-size: 22px;
    line-height: 36px
}

.main_content_button {
    font-style: italic;
    border-radius: 2px;
}

.main_content_submit {
    margin-left: 10px;
    background: rgba(255,255, 255, 0);
    border: 1px solid #FFFFFF;
    padding-left: 22px;
    padding-right: 22px;
}

.projects {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 420px;
}

.projects_content {
    height: auto;
}

.projects_content_title {
    max-width: 50%;
    margin-top: 0;
    color: #FFFFFF;
}

.projects_content_text {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 21px;
}

.projects_content_names {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    border: 1px solid black;
    width: 55%;
    margin-top: 0;
    margin-left: 43%;
}

.projects_content_name {
    margin-right: 61px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projects_content_link {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    padding-top: 6.7px;
    padding-bottom: 6.7px;
}

.projects_content_current {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.projects_content_details{
    display: flex;
    max-height: 525px;
    margin: 0 auto;
    margin-top: 45px;
}

.projects_content_info {
    display: flex;
    flex-direction: column;
    color: white;
    width: 40%;
    margin-right: 50px;
}

.projects_content_param {
    padding-top: 21px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.projects_content_block {
    flex: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

.projects_block_title {
    font-size: 18px;
    line-height: 25px;
}

.projects_content_switch {
    align-self: flex-start;
}

.projects_content_param > div:nth-child(-n+2) h3 {
    margin-top: 0;
}

.projects_block_plus {
    display: block;
}

.projects_content_info > div:nth-last-child(2) {
    flex: 1;
} 

.control {
    margin-top: -350px;
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
}

.control_title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.control_video {
    background-image: url('../images/video.png');
    position: relative;
    margin: auto;
    text-align: center;
    height: 434px;
    max-width: 817px;
    max-height: 434px;
    z-index: 1;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}

.control_video::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 817px;
    max-height: 434px;
}

.control_video::after {
    content: '';
    background-image: url("../images/play.svg");
    position: absolute;
    top: 34%;
    left: 41%;
    width: 115px;
    height: 110px;
} 

.control_video:hover {
    cursor: pointer;
}

.control_line {
    background: #E3B873;
    border-radius: 30px;
    width: 5%;
    height: 2px;
    border: none;
    margin-top: 62px;
    margin-bottom: 35px;
}

.control_text {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    max-width: 697px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.control_form {
    max-height: 173px;
    padding: 33px 31px;
    text-align: center;
}

.control_form_inputs {
    max-width: 770px;
    margin: 0 auto; 
    display: flex;
    margin-bottom: 35px;
    justify-content: space-around;   
}

.types {
    background: url('../images/types_back.png') no-repeat no-repeat;
    background-size: 50%;
    background-position: 0 100%;
}

.types_cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 133px;
    flex-wrap: wrap;
}

.types_cards_item {
    display: flex;
    flex-direction: column;
    width: 31.5%;
}

.types_cards_info {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin: 0 auto;
    margin-top: -125px;
    background-color: #FFFFFF;
    width: 80%;
    padding-bottom: 45px;
}

.types_card_title {
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    margin-left: 7%;
    font-weight: 400;
    margin-bottom: 13px;
}

.types_details_item {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.types_item_details {
    margin-top: 13px;
    margin-bottom: 0;
}

.types_details_button {
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    width: 228px;
    height: 54px;
    padding: 17px 16px;
    margin-left: 10%;
    margin-top: -25px;
}

.types_steps-request {
    margin: 0 auto;
    padding: 49px 2px 24px 114px;
    display: flex;
    padding-left: 10%;
}

.types_steps {
    counter-reset: myCounter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15%;
    width: 45%;
    height: 509px;
}

.types_steps_item {
    position: relative;
    padding-left: 5em;
    margin: 1em 0;
    list-style: none;
    line-height: 1.7em;
    font-size: 14px;
}

.types_steps_item::before {
    content: '0' counter(myCounter);
    counter-increment: myCounter;
    position: absolute;
    top:-10px;
    left:0;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0px;
    font-family: "Yeseva One", cursive;
    font-size: 18px;
    color:#fff;
    background:#E3B873;
    text-align: center;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    z-index: 1;
}

.types_steps_item:last-of-type {
    max-width: 60%;
}

.types_form-request {
    width: 45%;
    background-color: #000;
    display: flex;flex-direction: column;
    color: #FFFFFF;
    padding: 27px 49px 0px 49px;
    max-height: 509px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.types_form-request_title {
    margin-bottom: 39px;
    align-self: center;
    font-weight: 400;
    width: 55%;
    text-align: center;
    font-size: 18px;
}

.types-request_input {
    background-color: #000;
    color: #FFFFFF;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);
    width: 100%;
}

.types-request_input_label {
    color: rgba(255, 255, 255, 0.5);
}


.types_request_item:not(:last-of-type) {
    padding-bottom: 48px;
}

.types_request_check-label {
    margin-top: 16px;
    margin-bottom: 39px;
}

.types_request_button {
    align-self: flex-end;
}
