@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Yeseva+One&display=swap');

.body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.section-logo {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
}

.section-logo img {
    margin-right: 8px;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 20px 33px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    width: 207px;
    height: 51px;
    font-family: 'Nunito Sans', sans-serif;
}

.button:hover {
    cursor: pointer;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    font-weight: 400;
}

.subtitle {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.input {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border:0;
    border-bottom:1px solid rgba(54, 54, 54, 0.3); 
    padding-top: 0;
}

.input-label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 14px;
  }

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 1px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.custom-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #E3B873;
  }

.custom-checkbox:not(:disabled):active+label::before {
    background-color: #E3B873;
    border-color: rgba(227, 184, 115, 0.5);
  }

.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(227, 184, 115, 0.5);
  }

.custom-checkbox:not(:disabled):not(:hover)+label::before {
    border: 1px solid #adb5bd;
    box-shadow: none;
  }

.custom-checkbox:focus:not(:checked)+label::before {
    border-color: rgba(227, 184, 115, 0.5);
  }
  
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
  }

.check-label {
    margin-top: 16px;
    margin-bottom: 39px;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 1299px) {
    .content {
        max-width: 1200px;
    }

    .nav-content {
        max-width: 1000px;
    }
    .nav-links-item {
        margin-right: 30px;
    }
  }

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 133px;
    flex-wrap: wrap;
}

.cards-item {
    display: flex;
    flex-direction: column;
    width: 31.5%;
}

.card-content {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    background-color: #FFFFFF;
    width: 80%;
    padding-bottom: 45px;
}


.card-title {
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    margin-left: 7%;
    font-weight: 400;
    margin-bottom: 13px;
}

.card-text {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.card-button {
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    width: 228px;
    height: 54px;
    padding: 11px 16px;
    margin-top: -25px;
    text-transform: uppercase;
}

.dark-form {
    width: 45%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    padding: 27px 49px 0px 49px;
    max-height: 509px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.dark-form-title {
    margin-bottom: 39px;
    align-self: center;
    font-weight: 400;
    max-width: 55%;
    text-align: center;
    font-size: 18px;
}

.dark-form-input {
    background-color: #000;
    color: #FFFFFF;
    border-bottom:1px solid rgba(255, 255, 255, 0.15);
    width: 100%;
}

.dark-form-input-label {
    color: rgba(255, 255, 255, 0.5);
}

.dark-form-item:not(:last-of-type) {
    padding-bottom: 48px;
}

.d-flex {
    display: flex;
}

.width-40 {
    width: 40%;
}

.head-foot {
    background-color: black;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
    max-width: 1250px;
}

.nav-content-logo {
    color: #E3B873;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    list-style: none;
    
}

.nav-links-item {
    margin-right: 47px;
}

.nav-links-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.colorful {
    color: #E3B873;
}

.nav-button {
    padding-top: 13px;
    padding-bottom: 13px;
    height: 37px;
}

.mobile-buttons {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
    left: 3%;
    bottom: 44%;
    height: 6%;
}

.mini-button {
    /* max-height: 10%; */
    display:none;
}

.main {
    background-image: url('../images/main_back.png');
    background-size: cover;
    height: 707px;
    position: relative;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.main_content {
    position: relative;
    z-index: 1;
    max-width: 505px;
    margin-left: 18%;
}

.main_title {
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    padding-top: 194px;
}

.main_text {
    color: white;
    font-size: 22px;
    line-height: 36px
}

.main_button {
    font-style: italic;
    border-radius: 2px;
}

.main_button_submit {
    margin-left: 10px;
    background: rgba(255,255, 255, 0);
    border: 1px solid #FFFFFF;
    padding-left: 22px;
    padding-right: 22px;
}

.projects {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 420px;
}

.projects_content {
    height: auto;
    position: relative;
}

.projects_title {
    max-width: 50%;
    margin-top: 0;
}

.projects_text {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 21px;
}

.projects_names {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    border: 1px solid black;
    width: 55%;
    margin-top: 0;
    margin-left: 43%;
}

.projects_names_item {
    margin-right: 61px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projects_names_link {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    padding-top: 6.7px;
    padding-bottom: 6.7px;
}

.projects_names_current {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.projects_details {
    display: flex;
    max-height: 525px;
    margin: 0 auto;
    margin-top: 45px;
}

.projects_details_info {
    display: flex;
    flex-direction: column;
    color: white;
    width: 40%;
    margin-right: 50px;
}

.projects_details_mobile {
    display: none;
    max-height: 584px;
}

.projects_details_mobile img {
    object-fit: cover;
    width: 100%;
}

.projects_details_params {
    padding-top: 21px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
}



.projects_details_params dd {
    margin-left: 0;
}

.projects_params_block {
    flex: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

.projects_block_title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 9px;
}

.projects_details_switch {
    align-self: flex-start;
}

.projects_details_info > div:nth-last-child(2) {
    flex: 1;
} 

.projects_details_photo {
    max-width: 100%;
}

.projects_details_mobile-buttons {
    bottom: 42%;
    height: 5%;
}

.control {
    margin-top: -350px;
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
}

.control_title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.control_video {
    position: relative;
    margin: auto;
    height: auto;
    max-width: 65%;
    z-index: 1;
    -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}

.control_video_photo {
    object-fit: cover;
    width: 100%;
}

.control_video::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.control_video:hover {
    cursor: pointer;
}

.control_video_play {
    position: absolute;
    top: 34%;
    left: 41%;
    max-width: 20%;
    top: 34%;
    left: 41%;
}

.control_line {
    background: #E3B873;
    border-radius: 30px;
    width: 5%;
    height: 2px;
    border: none;
    margin-top: 62px;
    margin-bottom: 35px;
}

.control_text {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    max-width: 697px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.control_form {
    max-height: 173px;
    padding: 33px 31px;
    text-align: center;
}

.control_form_inputs {
    max-width: 770px;
    margin: 0 auto; 
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;   
}

.types {
    background: url('../images/types_back.png') no-repeat no-repeat;
    background-size: 50%;
    background-position: 0 100%;
}

.types_cards-item_info {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin-top: -125px;
}

.types_cards-item_details {
    margin-top: 13px;
    margin-bottom: 0;
}


.types_card-button {
    padding: 17px 16px;
    margin-left: 10%;
}

.types_steps-request {
    margin: 0 auto;
    padding: 49px 2px 24px 114px;
    display: flex;
    padding-left: 10%;
}

.types_steps {
    counter-reset: myCounter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15%;
    width: 45%;
    height: 509px;
}

.types_steps_item {
    position: relative;
    padding-left: 5em;
    margin: 1em 0;
    list-style: none;
    line-height: 1.7em;
    font-size: 14px;
}

.types_steps_item::before {
    content: '0' counter(myCounter);
    counter-increment: myCounter;
    position: absolute;
    top:-10px;
    left:0;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0px;
    font-family: "Yeseva One", cursive;
    font-size: 18px;
    color:#fff;
    background:#E3B873;
    text-align: center;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    z-index: 1;
}

.types_steps_item:last-of-type {
    max-width: 60%;
}

.types_request_button {
    align-self: flex-end;
}

.types_sales {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
    margin-right: 11%;
    padding-bottom: 242px;
}

.type_sales_text {
    color: #E3B873;
    width: 22%;
    font-size: 18px;
} 

.type_sales_logo {
    padding-top: 15px;
}


.styles {
    background: url('../images/fant_back.png');
    background-size: cover;
    max-height: 864px;
    position: relative;
}

.styles::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.styles_content {
    position: relative;
    z-index: 1;
    display: flex;
}

.styles_text_title {
    width: 60%;
    margin-left: 8%;
}

.styles_text_list {
    list-style: none;
    width: 40%;
    font-size: 20px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.styles_text_item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.styles_text_item:hover {
    border-bottom: 1px solid #E3B873;
}

.styles_text_link {
    text-decoration: none;
    color: #fff;
}

.styles_text_link:hover {
    color: #E3B873;
}

.styles_photo {
    /* height: 242px; */
    position: relative;
    z-index: 0;
    height: auto;
}

.styles_photo_mobile {
    display: none;
    width: 100%;
}

.styles_mobile_photo {
    width: 100%;
    object-fit: cover;
}

.styles_photo_mobile-buttons {
    height: 13%;
}

.styles_photo_block1 {
    display: flex;
    flex-direction: column;
    margin-top: -41px;
    margin-right: 43px;
}

.photo_block_item {
    margin-bottom: 39px;
}

.styles_photo_block2 {
    display: flex;
    flex-direction: column;
    margin-top: -113px;
}

.clients {
    margin-top: 110px;
    padding-bottom: 371px;
    background: url('../images/quest_back_left.png') no-repeat no-repeat,
                url('../images/quest_back_right.png') no-repeat no-repeat;
    background-position: left bottom, right bottom;
}

.clients_card-content {
    padding: 24px 32px 90px 20px;
}

.clients_card_photo {
    border-radius: 100px;
}

.clients_card_name {
    max-width: 55%;
}

.clients_card-button {
    margin-left: 16px;
    display: flex;
    justify-content: space-between;
    width: 294px;
    align-items: center;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.clients_text {
    margin: 24px auto 39px auto;
    font-weight: 400;
    max-width: 30%;
    text-align: center;
    font-size: 18px;
}

.questions_content {
    position: relative;
    z-index: 2;
}

.questions_form {
    margin: -270px auto 52px auto;
    padding: 34px 181px 34px 181px;
    max-width: 883px;
}

.questions_form_title {
    font-family: 'Yeseva One';
    font-size: 20px;
    text-transform: uppercase;
}

.questions_inputs-horiz {
    display: flex;
    justify-content: space-between;
}

.questions_inputs-horiz > div:first-of-type {
    margin-right: 58px;
}

.questions_form_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    background: url('../images/questions_back.png');
    background-size: cover;
    position: relative;
    margin-top: -270px;
    padding-bottom: 66px;
}

.contacts::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.contacts_content {
    position: relative;
    z-index: 1;
    padding-top: 250px;
}

.contacts_info_text {
    margin: 0 auto;
    text-align: center;
    max-width: 45%;
    font-size: 20px;
    margin-bottom: 26px;
}

.contacts_info_links {
    display: flex;
    justify-content: center;
    margin-bottom: 43px;
}

.contacts_info_link {
    margin-right: 15px;
}

.contacts_map {
    margin: auto;
    display: block;
}

.footer_content {
    height: 133px;
}




@media screen and (min-width: 375px) and (max-width: 768px) {
    .content {
        max-width: 90%;
    }

    .title {
        text-align: center;
        margin: auto;
        display: block;
    }

    .cards {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
    }

    .cards-item {
        width: 100%;
        margin-bottom: 59px;
    }

    .main_content {
        margin: 0 auto;
        font-size: 14px;
        top: 10%;
    }

    .main_title {
        padding-top: 20px;
        text-align: left;
    }

    .main_buttons {
        flex-direction: column;
        align-items: center;
    }
    
    .button {
        width: 100%;
    }

    .submit-button {
        font-size: 13px;
    }

    .card-button {
        width: 67%;
    }

    .main_button_submit {
        margin-top: 26px;
        margin-left: 0;
    }

    .projects {
        padding-top: 20px;
    }

    .projects_content {
        display: flex;
        flex-direction: column;
    }

    .projects_details {
        flex-direction: column;
        max-height: 100%;  
        margin-top: 15px;
    }



    .projects_details_info {
        width: 100%;
    }

    .mini-button {
        display:inline-block;
        cursor: pointer;
    }

    .projects_details_params {
        position: relative;
    }

    /* .projects_details_params::before {
        content: '';
        background-image: url(../images/compl_project_mobile.png);
        width: 100%;
        position: absolute;
        z-index: 1;
        top: -135%;
        height: 122%;
        background-size: cover;
    } */

    .projects_details_mobile {
        display: block;
    }

    .projects_params_block {
        margin-bottom: 30px;
    }

    .projects_text {
        margin-top: 50px;
        margin-bottom: 65px;
        text-align: center;
    }

    .projects_block_title {
        text-align: left;
    }

    .control {
        background-color: #000;
        color: #fff;
        margin-bottom: 58px;
    }

    .control_title {
        font-size: 22px;
    }

    .control_line {
        width: 18%;
    }

    .control_video {
        /* max-height: 366px;
        background-size: cover; */
    }

    /* .control_video::after {
        width: 67px;
        height: 67px;
    }  */

    .control_video_play {
        /* max-width: 67px; */
        /* max-height: 67px; */
    }


    .control_form {
        display: flex;
        flex-direction: column;
        max-height: 260px;
        padding-bottom: 48px;
        padding-left: 0;
        padding-right: 0;
    }

    .control_form_inputs {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .control_form_input {
        background-color: #000;
        color: #FFFFFF;
        border-bottom:1px solid rgba(255, 255, 255, 0.15);
        width: 100%;
    }
    
    .control_form_input-label {
        color: rgba(255, 255, 255, 0.5);
    }

    .control_form_button {
        position: absolute;
        top: 169%;
    }

    .control_form_input-container:not(:last-of-type) {
        margin-bottom: 63px;
    }

    .control_form_input-container:last-of-type{
        margin-bottom: 0px;
    }

    .types {
        background: #fff;
                    
    }

    .types_cards-item_info, .types_card-button {
        margin-left: 0;
    }

    .styles {
        background: linear-gradient(to bottom, white 69%, black 31%);
        padding-top: 42px;
        position: relative;
    }

    .styles_content {
        flex-direction: column;
        max-height: 1050px;
    }

    .styles_text {
        width: 100%;
    }

    .styles_text_title {
        width: 75%;
        margin-bottom: 34px;
    }

    /* .styles_photo {   
        background-image: url("../images/styles_mobile.png");
        background-size: cover;
        height: 242px;
        position: relative;
        z-index: 0;
    } */

    .styles_photo_mobile {
        display: block;
    }
    
    

    .questions {
        background-color: #000;
    }

    .questions_form {
        margin: 0 auto;
        padding: 5%;
        padding-left: 0;
    }

    .input-container {
        width: 100%;
        margin-bottom: 63px;
    }

    .dark-form-item:not(:last-of-type) {
        padding-bottom: 0px;
    }

    .input-container-email {
        margin-bottom: 0;
    }

    .questions_inputs-horiz {
        flex-direction: column;
    }

    .questions_check-label {
        margin-bottom: 72px;
        align-self: flex-start;
    }

    .dark-form {
        width: 100%;
    }

    .contacts {
        margin-top: 0;
        background: #000;
        padding-bottom: 0;
    }

    .contacts_content {
        padding-top: 40px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .contacts_map {
        object-fit: cover;
        height: 50vh;
        width: 100%;
        margin-bottom: 40px;
    }
    
    .contacts_info_text {
        max-width: 90%;
        margin-bottom: 20px;
    }

    nav, .nav-button, .projects_names, .projects_details_switch, .projects_details_photo, .types_steps-request, .types_form, .types_sales, .styles::before, .styles_photo_block1, .styles_photo_block2, .styles_text_list, .clients, footer {
        display: none;
    }

    
  }