@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
}

@font-face {
    font-family: 'Yeseva One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
}

.body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 20px 33px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
}

.content {
    max-width: 1260px;
    margin: 0 auto;
}

.header {
    background-color: black;
}

.header_content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
}

.content_logo {
    color: #E3B873;
    text-transform: uppercase;
}

.nav_links {
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    
}

.nav_links_item {
    margin-right: 47px;
}

.nav_links_link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav_tel_link {
    /* text-decoration: none; */
    color: #E3B873;

}

.nav_button {
    padding-top: 13px;
    padding-bottom: 13px;
}

.main {
    background-image: url('../images/main_back.png');
    background-size: cover;
    height: 707px;
    position: relative;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.main_content {
    position: relative;
    z-index: 1;
    max-width: 505px;
    margin-left: 18%;
}

.content_title {
    margin: 0;
    font-family: 'Yeseva One';
    /* font-style: normal; */
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 194px;
}

.content_title_town {
    color: #E3B873;
}

.content_text {
    color: white;
    font-size: 22px;
    line-height: 36px
}

.main_content_submit {
    margin-left: 10px;
    background: rgba(255,255, 255, 0);
    border: 1px solid #FFFFFF;
    /* height: 25; */
}

.projects {
    background-color: black;
    /* max-height: 1072px; */
    /* overflow: visible; */
    padding-top: 100px;
    padding-bottom: 415px;
}

.projects_content {
    height: auto;
    
    
}

.projects_content_names {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    border: 1px solid black;
    /* margin: 0; */
    width: 55%;
    margin-top: 0;
    margin-left: 40%;
}

.projects_content_name {
    margin-right: 61px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projects_content_link {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    padding-top: 6.7px;
    padding-bottom: 6.7px;
}

.projects_content_current {
    color: #E3B873;
    /* text-decoration: underline; */
    border-bottom: 1px solid #E3B873;
}

.projects_content_details{
    display: flex;
    max-height: 525px;
    margin: 0 auto;
    margin-top: 45px;
}

.projects_content_info {
    display: flex;
    flex-direction: column;
    color: white;
    width: 40%;
    margin-right: 50px;
}

.projects_content_block {
    display: inline-block;
    width: 40%;
}

.project_content_photo {
    /* align-self:flex-end; */
    margin-left: 0;
}

.projects_block_plus {
    display: block;
}

.projects_content_switch {
    display: flex;
    /* margin-top: -10px; */
    /* justify-self: flex-end; */
}

.projects_content_info > div:nth-last-child(2) {
    /* align-self: flex-end; */
    flex: 1;
    /* background-color: red; */
} 

.projects_content_switch:last-child {
    /* flex-direction: column-reverse; */
}